.graph__main__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    width: 50%;
    margin: auto;
}

@media (max-width: 768px) {
    .graph__main__container {
        width: 100%;
        padding: 10px;
    }
}