.main__parent {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.cases__box {
    background-color: rgb(255, 255, 255);
    width: 30%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.122);
}

.cases__box span {
    /* border: 1px solid red; */
    padding: 10px;
    background-color: rgb(0, 106, 255);
    color: white;
    border-radius: 2px;
}

@media only screen and (max-width: 450px) {
    .main__parent {
        /* border: 1px solid red; */
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .cases__box {
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        font-size: 13px;
        border-radius: 10px;
    }
}